In [1]:
import scanpy as sc
import pandas as pd
import numpy as np

In [2]:
adata = sc.read("anndata_raw.h5ad")

In [3]:
adata.obs.head()

Empty DataFrame
Columns: []
Index: [AAACCCAAGGCCTAAG-1, AAACCCAAGGTTCTTG-1, AAACCCAAGTGCAGGT-1, AAACCCACAAGAGTAT-1, AAACCCACACACGGTC-1]

In [4]:
adata.var.head()

Empty DataFrame
Columns: []
Index: [MIR1302-2HG, FAM138A, OR4F5, AL627309.1, AL627309.3]

In [5]:
adata

AnnData object with n_obs × n_vars = 500089 × 33569

In [6]:
anno = pd.read_csv("GSE158769_meta_data.tsv", delimiter="\t")
anno

,cell_id,nUMI,nGene,percent_mito,batch,TB_status,UMAP_1,UMAP_2,cluster_name,cluster_ids,donor
0,AAACCCAAGGCCTAAG-1,6108,1557,0.055828,1,CASE,-2.743703,1.617194,CD4+ CD27+,C-2,TB3419057
1,AAACCCAAGGTTCTTG-1,7902,2149,0.083017,1,CASE,-4.237045,0.306832,CD4+ CCR4+ central,C-3,TB3419057
2,AAACCCAAGTGCAGGT-1,5033,1788,0.129744,1,CASE,-1.136187,-4.012949,CD4+ Treg,C-9,TB3419057
3,AAACCCACAAGAGTAT-1,6574,1747,0.066930,1,CASE,-1.015078,3.789505,CD4+ CD27+CD161+,C-4,TB3419057
4,AAACCCACACACGGTC-1,6471,1872,0.047442,1,CASE,0.658381,2.427080,CD4+ Th17/1,C-13,TB0610655
...,...,...,...,...,...,...,...,...,...,...,...
500084,TTTGTTGTCCGCCTAT-46,1945,833,0.183033,46,CASE,-2.568426,0.780417,CD4+ CD27+,C-2,TB9334348
500085,TTTGTTGTCCTGGGTG-46,4534,1537,0.051610,46,CONTROL,1.017550,-0.594416,CD4+ Th1,C-17,TB2792656
500086,TTTGTTGTCGATGGAG-46,3157,1013,0.081723,46,CASE,2.301589,0.623997,CD4+ Th17/1,C-16,TB7198118
500087,TTTGTTGTCGTTTACT-46,3675,1202,0.089252,46,CASE,0.572390,-1.264730,CD4+ Th1,C-17,TB9334348
500088,TTTGTTGTCTCTTCAA-46,9072,2181,0.060185,46,CONTROL,-3.697227,0.161370,CD4+ CCR4+ central,C-3,TB2496561

In [7]:
adata.obs = anno

In [8]:
adata

AnnData object with n_obs × n_vars = 500089 × 33569
    obs: 'cell_id', 'nUMI', 'nGene', 'percent_mito', 'batch', 'TB_status', 'UMAP_1', 'UMAP_2', 'cluster_name', 'cluster_ids', 'donor'

In [9]:
#I generated the proteins.tsv file in R as it was convenient for me at the time. You can pull the same list here
#either
proteins = pd.read_csv("proteins.tsv", delimiter = "\t")
proteins

               proteins
1           CD4_protein
2          CD25_protein
3          CD26_protein
4          CD27_protein
5          CD28_protein
6          CD29_protein
7         CD62L_protein
8        CD45RO_protein
9          CD69_protein
10  CD183/CXCR3_protein
11   CD194/CCR4_protein
12   CD195/CCR5_protein
13   CD196/CCR6_protein
14   CD197/CCR7_protein
15       HLA-DR_protein
16          CD3_protein
17     CD95/Fas_protein
18  CD127/IL-7R_protein
19        CD161_protein
20          CD5_protein
21         CD38_protein
22   CD279/PD-1_protein
23        TIGIT_protein
24   CD278/ICOS_protein
25    CD244/2B4_protein
26        CD272_protein
27     MouseIgG_protein
28         CD8a_protein
29        TCRab_protein
30  CD48/SLAMF2_protein
31  CD294/CRTH2_protein

In [10]:
protein_exprs = adata[:, proteins.proteins]
protein_exprs

View of AnnData object with n_obs × n_vars = 500089 × 31
    obs: 'cell_id', 'nUMI', 'nGene', 'percent_mito', 'batch', 'TB_status', 'UMAP_1', 'UMAP_2', 'cluster_name', 'cluster_ids', 'donor'

In [11]:
prot_gene_indicator = np.in1d(adata.var_names, proteins.proteins)
adata = adata[:, ~prot_gene_indicator]

In [12]:
print(adata.obs)

                    cell_id  nUMI  nGene  percent_mito  batch TB_status  \
0        AAACCCAAGGCCTAAG-1  6108   1557      0.055828      1      CASE
1        AAACCCAAGGTTCTTG-1  7902   2149      0.083017      1      CASE
2        AAACCCAAGTGCAGGT-1  5033   1788      0.129744      1      CASE
3        AAACCCACAAGAGTAT-1  6574   1747      0.066930      1      CASE
4        AAACCCACACACGGTC-1  6471   1872      0.047442      1      CASE
...                     ...   ...    ...           ...    ...       ...
500084  TTTGTTGTCCGCCTAT-46  1945    833      0.183033     46      CASE
500085  TTTGTTGTCCTGGGTG-46  4534   1537      0.051610     46   CONTROL
500086  TTTGTTGTCGATGGAG-46  3157   1013      0.081723     46      CASE
500087  TTTGTTGTCGTTTACT-46  3675   1202      0.089252     46      CASE
500088  TTTGTTGTCTCTTCAA-46  9072   2181      0.060185     46   CONTROL

          UMAP_1    UMAP_2        cluster_name cluster_ids      donor
0      -2.743703  1.617194          CD4+ CD27+         C-2  TB3419057
1      -4.237045  0.306832  CD4+ CCR4+ central         C-3  TB3419057
2      -1.136187 -4.012949           CD4+ Treg         C-9  TB3419057
3      -1.015078  3.789505    CD4+ CD27+CD161+         C-4  TB3419057
4       0.658381  2.427080         CD4+ Th17/1        C-13  TB0610655
...          ...       ...                 ...         ...        ...
500084 -2.568426  0.780417          CD4+ CD27+         C-2  TB9334348
500085  1.017550 -0.594416            CD4+ Th1        C-17  TB2792656
500086  2.301589  0.623997         CD4+ Th17/1        C-16  TB7198118
500087  0.572390 -1.264730            CD4+ Th1        C-17  TB9334348
500088 -3.697227  0.161370  CD4+ CCR4+ central         C-3  TB2496561

[500089 rows x 11 columns]

In [13]:
adata.obsm["protein_expression"] = protein_exprs

/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:120: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [14]:
adata.write("Lung_TB_T_Cells_CITESEQ_RNA.h5ad")

/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'TB_status' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'cluster_name' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'cluster_ids' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'donor' as categorical

NotImplementedError: Failed to write value for obsm/protein_expression, since a writer for type <class 'anndata._core.anndata.AnnData'> has not been implemented yet.

Above error raised while writing key 'obsm/protein_expression' of <class 'h5py._hl.files.File'> from /.

In [15]:
protein_exprs.write("Lung_TB_T_Cells_CITESEQ_Protein.h5ad")

/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1228: ImplicitModificationWarning: Initializing view as actual.
  warnings.warn(
Trying to set attribute `.obs` of view, copying.
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:120: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
... storing 'TB_status' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
Trying to set attribute `.obs` of view, copying.
... storing 'cluster_name' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
Trying to set attribute `.obs` of view, copying.
... storing 'cluster_ids' as categorical
/home/icb/goeksu.avar/anaconda3/envs/myenv/lib/python3.9/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
Trying to set attribute `.obs` of view, copying.
... storing 'donor' as categorical

Load to check if we wrote correctly

In [17]:
adata_new = sc.read("Lung_TB_T_Cells_CITESEQ_RNA.h5ad")

In [18]:
protein_new = sc.read("Lung_TB_T_Cells_CITESEQ_Protein.h5ad")

In [19]:
adata_new

AnnData object with n_obs × n_vars = 500089 × 33538
    obs: 'cell_id', 'nUMI', 'nGene', 'percent_mito', 'batch', 'TB_status', 'UMAP_1', 'UMAP_2', 'cluster_name', 'cluster_ids', 'donor'

In [20]:
protein_new

AnnData object with n_obs × n_vars = 500089 × 31
    obs: 'cell_id', 'nUMI', 'nGene', 'percent_mito', 'batch', 'TB_status', 'UMAP_1', 'UMAP_2', 'cluster_name', 'cluster_ids', 'donor'